@CHARSET "UTF-8";
*{margin:0px;padding:0px;}
a{text-decoration:none;}
ul{list-style:none;}
.clear{clear:both;zoom:1;}
.clear:after{clear:both;display:block;height:0px;content:'';zoom:1;overflow:hidden;}
.clearfix{clear:both;zoom:1;}
.clearfix:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:""}
/*topBar*/
.topBarNav,.topBarNavLogin,.topBarList{
	display:inline-block;
}
.topBarList a,.topBar h1,.topBarNavLogin a{
	color:#fff;
}
.topBar{
	width:100%;
	height:60px;
	line-height:60px;
	background-color:#1e89e0;
}
.topBarList{
	font-size:0;
	margin-left:20px;
}
.topBarList a{
	width:120px;
	height:inherit;
	font-size:16px;
	display:inline-block;
	text-align:center;
}
.topBarList a:hover{
	background:#006bc7;
}
.homePage{
	background:#006bc7;
}
.topBarLogo{
	margin-left:70px;
	float:left;
}
.topBarLogo b{
	display:inline-block;
	width:32px;
	height:32px;
	padding-right:5px;
	background:url(../images/logo.png) no-repeat;
}
.topBarNav a,.topBarNavLogin a{
	font-size:14px;
}
.topBarNav{
	margin:0 120px 0 180px;
}
.topBarNav a{
	margin:0 20px 0 20px;
	color:#d2e7f9;
}
.topBarNav a:hover{
	color:#fff;
}
.topBarNav .fa,.topBarNavLogin .fa{
	font-size:23px;
}
.topBar .fa{
	padding-right:5px;
}
/*--------sideBar------*/
.sideBar{
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	
	width:30px;
	margin:0 auto;
	background-color:#504d53;
}
.sideBarTabs{
	text-align:center;
	margin-top:100px;
}
.sideBarTabs a{
	color:#ccc;
}
.separator{
	border-bottom:1px solid #737074;
	height:2px;
	margin:5px 6px;
}
.order,.shopCar,.msg{
	width:30px;
	display:inline-block;
}
.order{
	padding:10px 0;
}
.shopCar{
	padding:13px 0;
}
.msg{
	padding:8px 0;
}
.order:hover,.shopCar:hover,.msg:hover{
	background-color:#0089dc;
}
