@CHARSET "UTF-8";
*{margin:0px;padding:0px;}
a{text-decoration:none;}
ul{list-style:none;}
.clear{clear:both;zoom:1;}
.clear:after{clear:both;display:block;height:0px;content:'';zoom:1;overflow:hidden;}
.clearfix{clear:both;zoom:1;}
.clearfix:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:""}
body{
	background:#eee;
	font: 400 1em/1.5 PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}
/*topBar*/
.topBarNav,.topBarNavLogin,.topBarList{
	display:inline-block;
}
.topBarList a,.topBar h1,.topBarNavLogin a{
	color:#fff;
}
.topBar{
	width:100%;
	min-width:1400px;/*解决屏幕缩小发生错位问题*/
	height:60px;
	line-height:60px;
	background-color:#1e89e0;
}
.topBarList{
	font-size:0;/*消除a标签之间的空隙*/
	margin-left:20px;
}
.topBarList a{
	width:120px;
	height:inherit;
	font-size:16px;/*16px=1em,发现改成em，a标签的文字会被遮盖*/
	display:inline-block;
	text-align:center;
}
.topBarList a:hover{
	background:#006bc7;
}
.topBarList a:focus{
	background:#006bc7;
}
.topBarLogo{
	margin-left:70px;
	float:left;
}
.topBarLogo b{
	display:inline-block;
	width:32px;
	height:32px;
	padding-right:5px;
	background:url(../images/logo.png) no-repeat;
}
.topBarNavLogin{
	float:right;
	margin-right:120px;
}
.topBarNav a,.topBarNavLogin a{
	font-size:0.875em;/*14px=0.875em*/
}
.topBarNav{
	margin:0 40px 0 160px;
}
.topBarNav a{
	margin:0 20px 0 20px;
	color:#d2e7f9;
}
.topBarNav a:hover{
	color:#fff;
}
.topBarNav .fa,.topBarNavLogin .fa{
	font-size:1.4375em;/*23px=1.4375em*/
}
.topBar .fa{
	padding-right:5px;
}
/*--------sideBar------*/
.sideBar{
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	
	width:30px;
	margin:0 auto;
	background-color:#504d53;
}
.sideBarTabs{
	text-align:center;
	margin-top:100px;
}
.sideBarTabs a{
	color:#ccc;
}
.separator{
	border-bottom:1px solid #737074;
	height:2px;
	margin:5px 6px;
}
.order,.shopCar,.msg{
	width:30px;
	display:inline-block;
}
.order,.msg{
	padding:10px 0;
	position:relative;
	z-index:2;
}
.order:hover,.msg:hover{
	z-index:3;
	background:none;
}
.order span,.msg span{
	display:none;
}
.order:hover span，.order:hover b,.msg:hover span,.msg:hover b{
	opacity:0.9;/*设置透明度*/
	filter:alpha(opacity=90);
}
.order:hover span,.msg:hover span{
	display:block;
	position:absolute;
	top:5px;
	right:40px;
	
	width:60px;
	padding:8px 10px;
	
	color:#fff;
	background-color:#666;
	
	font-size:0.875em;/*14px=0.875em*/
	/*设置圆角*/
	-webkit-border-radius:5px;  
    -moz-border-radius:5px;  
    border-radius:5px; 
}
.order:hover b,.msg:hover b{/*设置三角形箭头*/
	position:absolute;  
    top:11px;  
    right:32px; 
 
    width:0;  
    height:0;  

    border-top:10px solid transparent;  
    border-bottom:10px solid transparent;  
    border-left:10px solid #666; 
	z-index:-1; 
}
.shopCar{
	padding:13px 0;
}
.msg{
	padding:8px 0;
}
.order:hover,.shopCar:hover,.msg:hover{
	background-color:#0089dc;
}
/*------footer-----*/
/*.footerLinks,.footerContect{
	display:inline-block;
}
.footerLinks a{
	display:block;
}
.footerQrCode{
	float:right;
}
.footerQrCode img{
	width:90px;
	height:90px;
}*/
